body{
    background-color: black;
}
.video{
    text-align: center;
  }
a{
    text-decoration: none;
    background-color: red;
    color: black;
    font-family: cursive;
    font-size: 30px;
    float: left;
    margin-left: 40px;
    border-radius: 10px;
}