nav{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    float: right;
    margin-top: 0px;
    display: flex;
}

nav ul li {
    text-align: right;
    float: right;
}

nav ul li a {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav ul li ul {
    display: block;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

nav a:hover{
    color: tomato;
}
nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    float: right;
}

.middle1{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    padding: 5px;
}

.list a{
    text-decoration: none;
    border: solid rgb(0, 255, 242) 3px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    color: white;
    background-color: black;
}

nav a:hover{
    color: white;
    background-color: black;
}

img{
    padding: 10px;
    border-radius: 20px;
    border: solid black 5px;
    margin: 10px;
}

.info{
    margin-left: 50px;
    text-align: center;
}

body{
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}